/* Use with article header */
.article-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 48rem) {
  .article-grid {
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2rem;
  }
}
