.grid {
  display: grid;
  grid-column-gap: var(--gutter);
  grid-row-gap: var(--space-m-l);
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}
