/* Create a larger flow space for big layout pieces and add extra padding and a border on larger screens */

.space {
  padding-block-end: var(--space-m-xl);
}

.space > * + * {
  margin-block-start: var(--space-m-xl);
}

@media (min-width: 64rem) {
  .space {
    padding-inline-start: var(--space-0-3xl);
    border-inline-start: 0.3ex dotted var(--color-less-dark);
  }
}
