/* Add extra padding and a border on larger screens */

@media (min-width: 64rem) {
  .space {
    padding-inline-start: var(--space-0-3xl);
    padding-block-end: var(--space-m-xl);
    border-inline-start: 0.3ex dotted var(--color-less-dark);
  }
}
