/* Use with article header. It is somewhat rigid because we want to predict when the grid collapses to a single column so we can adjust the rest of the content */

.article-header {
  display: grid;
  grid-template-areas:
    "title"
    "topics";
  column-gap: 1rem;
  row-gap: 1.5rem;

  /* Find the block elements vs adding lots of classes */
  & > *:nth-child(1) {
    grid-area: title;
  }
  & > *:nth-child(2) {
    grid-area: topics;
  }

  /* Not grid styles */
  ul {
    list-style: none;
    padding-inline: 0;
  }

  p {
    color: var(--color-less-dark);
  }
}

@media (min-width: 48rem) {
  .article-header {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "topics";
  }
}

@media (min-width: 80rem) {
  .article-header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title topics";
  }
}
