/* Make h1s huge on pages but not posts */
.page-header {
  h1 {
    color: var(--color-light);
    background-color: var(--color-dark);
    font-size: var(--size-step-5);
    text-transform: uppercase;
    display: inline-block;
    padding-inline: var(--gutter);
    &::selection {
      color: var(--color-dark);
      background-color: var(--color-light);
    }
  }
}

/* Accommodate very small screens */
@media (max-width: 22rem) {
  .page-header {
    h1 {
      font-size: var(--size-step-4);
    }
  }
}
