/* Composition */

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.lede {
  font-size: var(--size-step-1);
  max-width: 50ch;
  text-wrap: balance;
}

.lede + * {
  --flow-space: 2em;
}

.grid {
  display: grid;
  grid-gap: var(--space-xs-s);
}

@supports (width: min(350px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  }
}

/* Utility */

.wrapper {
  max-width: 160ch;
  margin-inline: auto;
  padding-inline: var(--gutter);
  & [data-wrapper-type="inner"] {
    padding-block: var(--space-s-l);
    padding-inline: var(--space-3xs-xl);
  }
}

/* Use when all that is needed is vertical space and the inner wrapper is already in use */
.region {
  padding-block: var(--space-s-l);
}

.repel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

/* Block */

/*Styles for posts*/
.article-header {
  border-block-end: 0.3ex dotted var(--color-less-light);
}

.card {
  border: 0.3ex dotted var(--color-less-light);
  padding: var(--space-s);
  border-radius: 0.69rem;

  list-style: none;
}

.links {
  border-block-end: 0.3ex dotted var(--color-less-light);
  &:last-child {
    border-block-end: none;
  }
}

.page-header {
  border-block-end: 0.3ex dotted var(--color-less-light);
  h1 {
    font-size: var(--size-step-5);
    text-transform: uppercase;
  }
}

.skip-link {
  background: var(--color-dark);
  position: absolute;
  text-align: center;
  margin-inline: auto;
  &:focus {
    left: var(--gutter);
    right: var(--gutter);
  }
  &:not(:focus):not(:active) {
    clip-path: inset(50%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    white-space: nowrap;
  }
}

/* Use with site header and footer styles */
.site-top-and-bottom {
  background: var(--color-dark);
  color: var(--color-light);
  padding-block: var(--gutter);
  padding-inline: var(--space-3xs-xl);
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    &::selection {
      color: var(--color-dark);
      background-color: var(--color-light);
    }
  }
}

/* Use with article header */
.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((38rem - 100%) * 999);
}

.switcher > :nth-last-child(n + 4),
.switcher > :nth-last-child(n + 4) ~ * {
  flex-basis: 100%;
}

/* Exception */

/* Use with .wrapper to shorten max-width */
.prose {
  max-width: 60ch;
}
