/* Composition */

/* Use with article header */
.article-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 48rem) {
  .article-grid {
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2rem;
  }
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.footer-grid {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(250px, 100%)) {
  .footer-grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}

.lede {
  font-family: MonoLisa, monospace;
}

.lede + * {
  --flow-space: 2em;
}

/* Utility */

.wrapper {
  max-width: 160ch;
  margin-inline: auto;
  padding-inline: var(--gutter);
  & [data-wrapper-type="inner"] {
    padding-block: var(--space-s-l);
    padding-inline: var(--space-3xs-xl);
  }
}

/* Use when all that is needed is vertical space */
.region {
  padding-block: var(--space-s-l);
}

/* Block */

.border {
  border-block-end: 0.3ex dotted var(--color-less-dark);
  &:last-child {
    border-block-end: none;
  }
  /* Apply border to the first and only child if there is only one */
  &:first-child:only-child {
    border-block-end: 0.3ex dotted var(--color-less-dark);
  }
}

/* Make h1s huge on pages but not posts */
.page-title {
  font-size: var(--size-step-5);
  text-transform: uppercase;
}

.skip-link {
  background: var(--color-dark);
  position: absolute;
  text-align: center;
  margin-inline: auto;
  &:focus {
    left: var(--gutter);
    right: var(--gutter);
  }
  &:not(:focus):not(:active) {
    clip-path: inset(50%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    white-space: nowrap;
  }
}

/* Use with site header and footer styles */
.header {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /*  This is an exception to standard inner wrapper */
  & [data-wrapper-type="inner"] {
    padding-block: var(--gutter);
  }
}

.header,
.footer {
  background: var(--color-dark);
  color: var(--color-light);
  ul {
    list-style: none;
    padding: 0;
  }
  ::selection {
    color: var(--color-dark);
    background-color: var(--color-light);
  }
  a[aria-current="page"] {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 0.15ex;
    &:focus-visible {
      text-decoration: none;
    }
  }
  /* Use the light svg for the footer */
  a:not([href*="joncoleman.me/"]):not([href^="#"]):not([href^="/"]):after {
    background-image: url("/external-link-inverse.svg");
  }
}

.footer {
  h3 {
    font-size: var(--size-step-0);
    text-transform: uppercase;
  }
  ul,
  p {
    font-size: var(--size-step--1);
  }
  /* Add space in reverse so that footer links are easier to click on mobile */
  li:not(:first-child) {
    margin-block-start: var(--space-0-4xs);
  }
}

/* Exception */

/* Use with .wrapper to shorten max-width */
.prose {
  max-width: 60ch;
}
