---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";

const pageTitle = "404";
const heading = "Page not found";
---

<Layout pageTitle={pageTitle}>
	<div class="wrapper">
		<PageHeader heading={heading} />
		<article class="prose flow" data-wrapper-type="inner">
			<p>
				Maybe you misstyped the addres? Here is the <a href="/"
					>home page</a
				>.
			</p>
		</article>
	</div>
</Layout>
