---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";

const pageTitle = "Home";
const heading = "Jon Coleman";
---

<Layout pageTitle={pageTitle}>
	<div class="wrapper">
		<PageHeader heading={heading} />
		<article class="prose flow" data-wrapper-type="inner">
			<h2>About me</h2>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad
				laborum quibusdam aut necessitatibus, quos facere quis quasi
				earum ipsum commodi expedita reiciendis? Velit nobis qui quasi
				molestiae, mollitia fugiat, assumenda.
			</p>
			<details>
				<summary>Contact & elsewhere</summary>
				<ul>
					<li><a href="/">Resume</a></li>
					<li><a href="mailto:email@example.com">Send Email</a></li>
					<li>
						<a href="https://example.com/">Existential Mayonnaise</a
						>
					</li>
					<li><a href="https://example.com/">The Final Void</a></li>
				</ul>
			</details>
		</article>
	</div>
</Layout>
