---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";

const pageTitle = "Home";
const heading = "Jon Coleman";
---

<Layout pageTitle={pageTitle}>
	<div class="wrapper">
		<PageHeader heading={heading} />
		<article class="prose flow" data-wrapper-type="inner">
			<h2>About me</h2>
			<p>
				I am a technical writer <em>by trade</em> and front end web developer
				<em>por pasión</em>. I am really into reading the docs, writing
				the docs, CSS, and accessibility. I have worked at tech
				companies since 2015.
			</p>
			<p>
				Whenever I am not at work I listen to punk records and ride
				bikes as often as possible. No gods, no masters, no electronic
				shifting.
			</p>
			<h2>About this site</h2>
			<p>
				The web should work for everyone and I have done my best to make
				this site work for you.
			</p>
			<p>
				I am attempting to grow a digital garden with this space, so the
				content may shift around a bit and flow between work ideas and
				not-so-work ideas.
			</p>
		</article>
	</div>
</Layout>
