---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";

const pageTitle = "Home";
const heading = "Jon Coleman";
---

<Layout pageTitle={pageTitle}>
	<div class="wrapper">
		<PageHeader heading={heading} />
		<article class="prose flow" data-wrapper-type="inner">
			<h2>About me</h2>
			<p>
				I am a technical writer <em>by trade</em> and front end web developer
				<em>por pasión</em>. I am really into writing the docs, reading
				the docs, CSS, and accessibility. The web should work for
				everyone and I have done my best to make this site work for you.
			</p>
			<p>
				Whenever I am not at work I listen to punk records and ride
				bikes as often as possible. No gods, no masters, no electronic
				shifting.
			</p>
			<details>
				<summary><strong>Contact & elsewhere links</strong></summary>
				<ul>
					<li><a href="/">View my resume</a></li>
					<li><a href="mailto:email@example.com">Email me</a></li>
					<li>
						<a href="https://example.com/">Existential Mayonnaise</a
						> (under construction)
					</li>
					<li>
						<a href="https://example.com/">The Final Void</a> (also under
						construction)
					</li>
				</ul>
			</details>
		</article>
	</div>
</Layout>
