---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Links";
const heading = "Links";
---

<Layout pageTitle={pageTitle} heading={heading}>
	<div class="wrapper region prose flow">
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio
			fugit, ab rem officiis. Adipisci nisi aperiam nesciunt tempore
			architecto pariatur totam, hic provident vero ducimus a aspernatur
			in minima consequatur?
		</p>
		<h2>Lorem ipsum</h2>
		<ul>
			<li>lorem ipsum</li>
			<li>lorem ipsum</li>
			<li>lorem ipsum</li>
			<li>lorem ipsum</li>
			<li>lorem ipsum</li>
		</ul>
		<h2>Lorem ipsum</h2>
		<ul>
			<li>lorem ipsum</li>
			<li>lorem ipsum</li>
			<li>lorem ipsum</li>
			<li>lorem ipsum</li>
		</ul>
		<h2>Lorem ipsum</h2>
		<ul>
			<li>lorem ipsum</li>
			<li>lorem ipsum</li>
			<li>lorem ipsum</li>
			<li>lorem ipsum</li>
			<li>lorem ipsum</li>
			<li>lorem ipsum</li>
		</ul>
	</div>
</Layout>
