---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Notes";
const heading = "Notes";
---

<Layout pageTitle={pageTitle}>
	<div class="wrapper">
		<h1>{heading}</h1>
	</div>
	<div class="wrapper">
		<div class="prose flow">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Sapiente minima, reiciendis nobis ut numquam aliquid mollitia
				consectetur hic libero necessitatibus accusamus est totam vero
				ab quam eaque ullam iure omnis!
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Sapiente minima, <a href="https://google.com/">reiciendis</a> nobis
				ut numquam aliquid mollitia consectetur hic libero necessitatibus
				accusamus est totam vero ab quam eaque ullam iure omnis!
			</p>
		</div>
	</div>
</Layout>
