---
const date = new Date().toLocaleDateString("en-US", {
  year: "numeric",
});
---

<footer class="site-top-and-bottom">
  <div class="wrapper repel">
    <p>Site and words by Jon Coleman.</p>
    <nav aria-label="secondary navigation">
      <ul>
        <li><a href="#top">Back to top</a></li>
        <li><a href="/rss.xml/">RSS</a></li>
      </ul>
    </nav>
  </div>
</footer>
