---
import Navigation from "../components/Navigation.astro";
---

<footer class="footer">
  <div class="wrapper">
    <nav
      class="footer-grid border"
      aria-label="footer navigation"
      data-wrapper-type="inner"
    >
      <section class="flow">
        <h3>Here</h3>
        <Navigation />
      </section>
      <section class="flow">
        <h3>Elsewhere</h3>
        <ul>
          <li>
            Existential Mayonnaise
            <small>(soon)</small>
          </li>
          <li>
            The Final Void
            <small>(soon)</small>
          </li>
        </ul>
      </section>
      <section class="flow">
        <h3>Contact</h3>
        <ul>
          <li><a href="mailto:jon@joncoleman.me">jon@joncoleman.me</a></li>
        </ul>
      </section>
      <section class="flow">
        <h3>Meta</h3>
        <ul>
          <li><a href="/rss-writing.xml/">RSS - Writing</a></li><li>
            <a href="/rss-notes.xml/">RSS - Notes</a>
          </li>
        </ul>
      </section>
    </nav>
    <div data-wrapper-type="inner">
      <p>Site and words by Jon Coleman</p>
      <p><a href="#top">Back to top</a></p>
    </div>
  </div>
</footer>
