---
import Navigation from "../components/Navigation.astro";
---

<footer class="inverse">
  <div class="wrapper">
    <nav
      class="grid border"
      aria-label="footer navigation"
      data-wrapper-type="inner"
    >
      <section class="flow">
        <h3>Here</h3>
        <Navigation />
      </section>
      <section class="flow">
        <h3>Elsewhere</h3>
        <ul>
          <li><a href="https://resume.joncoleman.me">Résumé</a></li>
          <li>Existential Mayonnaise (soon)</li>
          <li>The Final Void (soon)</li>
        </ul>
      </section>
      <section class="flow">
        <h3>Contact</h3>
        <ul>
          <li><a href="mailto:jon@joncoleman.me">jon@joncoleman.me</a></li>
        </ul>
      </section>
      <section class="flow">
        <h3>Meta</h3>
        <ul>
          <li><a href="/rss.xml/">RSS feed</a></li>
        </ul>
      </section>
    </nav>
    <div class="flow" data-wrapper-type="inner">
      <p>Site and words by Jon Coleman, a human.</p>
      <p>This site is not tracking you.</p>
      <p><a href="#top">Back to top</a></p>
    </div>
  </div>
</footer>
