---
import Navigation from "./Navigation.astro";
---

<header class="header" id="top">
	<a href="#main" class="skip-link">Skip to content</a>
	<div class="wrapper">
		<nav aria-label="primary navigation" data-wrapper-type="inner">
			<Navigation />
		</nav>
	</div>
</header>
