---
import Navigation from "./Navigation.astro";
---

<header class="header" id="top">
	<a href="#main" class="skip-link">Skip to content</a>
	<nav aria-label="primary navigation">
		<div class="wrapper">
			<Navigation />
		</div>
	</nav>
</header>
