@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto|EB+Garamond");

:global html {
  background-color: #14262f;
  font-family: "EB Garamond", serif;
  font-size: 1.25rem;
  color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:global body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #d1d4d6;
  text-decoration: none;
}

.author {
  color: #66cdaa;
}

.author:hover {
  color: #51a488;
  text-decoration: none;
}

hr {
  background-image: linear-gradient(90deg, #a1a8ab, transparent);
  border: 0;
  height: 1px;
}

header {
  max-width: 672;
}

footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #131d23;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}

p {
  font-size: 1.15em;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
