---
const currentPath = Astro.url.pathname;
---

<ul>
	<li>
		<a href="/" aria-current={currentPath === "/" ? "page" : undefined}
			>Home</a
		>
	</li>
	<li>
		<a
			href="/notes/"
			aria-current={currentPath === "/notes/" ? "page" : undefined}
			>Notes</a
		>
	</li>
	<li>
		<a
			href="/topics/"
			aria-current={currentPath === "/topics/" ? "page" : undefined}
			>Topics</a
		>
	</li>
	<li>
		<a
			href="/links/"
			aria-current={currentPath === "/links/" ? "page" : undefined}
			>Links</a
		>
	</li>
</ul>
