---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/styles.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#2a2722" />
    <title>{pageTitle} | Jon Coleman</title>
    <link
      rel="preload"
      href="/AUTHENTICSans-90.woff"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/AlteHaasGroteskBold.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/MonoLisa-Regular.woff"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <Header />
    <main id="main" tabindex="-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
